.navbar{
    position: sticky;
    top: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px 8%;

    background: rgba(15,23,42,0.9);
    backdrop-filter: blur(10px);

    z-index: 1000;
}

.logo{
    font-size: 2rem;
    font-weight: bold;
}

.nav-links{
    display: flex;
    list-style: none;
    gap: 35px;
}

.nav-links a{

    display: inline-flex;
    align-items: center;
    justify-content: center;

    padding: 10px 22px;

    border: 2px solid transparent;
    border-radius: 30px;

    background: rgba(255,255,255,0.05);

    color: white;

    font-weight: 500;

    transition: all .3s ease;
}

.nav-links a:hover{

    background: #38bdf8;
    color: #0f172a;

    transform: translateY(-3px);

    box-shadow: 0 8px 20px rgba(56,189,248,.4);
}


@media (max-width:768px){

    .navbar{

        flex-direction: column;
        padding: 15px 5%;
        gap: 20px;
    }

    .logo{

        font-size: 1.8rem;
    }

    .nav-links{

        flex-wrap: wrap;
        justify-content: center;
        gap: 18px;
    }

    .nav-links a{

        font-size: 0.95rem;
    }

}